body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(235, 225, 225);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.signup {
    width: 25%;
    margin: 50px auto;
    height: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.details {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.details label {
    margin: 5px;
    font-size: 1.5rem;
}

.details input {
    border-radius: 6px;
    height: 20px;
}

.btn {
    width: 50%;
    margin: 20px auto;
    height: 30px;
    background-color: aqua;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 30%);
}